Repository Crazzy-pingvin/Victoria, pull requests merged in 2025-03, with the labels that each got.

#1 Acum
  Resources/Locale/ru-RU/victoria/emotes.ftl
  Resources/Locale/ru-RU/victoria/kmlg.ftl
  Resources/Locale/ru-RU/victoria/speaking_bots.ftl
  Resources/Locale/ru-RU/victoria/station-goal/station-goal-component.ftl
  Resources/Locale/ru-RU/victoria/technologies.ftl
  Resources/Locale/ru-RU/victoria/viteztvi.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/solar.yml
  Resources/Prototypes/Entities/Structures/Power/smes.yml
  Resources/Prototypes/Recipes/Construction/Graphs/machines/machine.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Victoria/Electron/ComponentsCircuitBord.yml
  Resources/Prototypes/Victoria/Electron/RawCircuitBord.yml
  Resources/Prototypes/Victoria/KMLG/ai_kmlg.yml
  Resources/Prototypes/Victoria/KMLG/kmlg.yml
  Resources/Prototypes/Victoria/Kosm_machine/acum.yml
  Resources/Prototypes/Victoria/Kosm_machine/bs_beacon.yml
  Resources/Prototypes/Victoria/Kosm_machine/rs_scanner.yml
  Resources/Prototypes/Victoria/LearnBook/LearnBooks.yml
  Resources/Prototypes/Victoria/Special_crystals/Special_crystals.yml
  Resources/Prototypes/Victoria/Stations/base.yml
  Resources/Prototypes/Victoria/Stations/goals.yml
  Resources/Prototypes/Victoria/Viteztvi/ai_vitz.yml
  Resources/Prototypes/Victoria/Viteztvi/viteztvi.yml
  Resources/Prototypes/Victoria/npcFaction.yml
  Resources/Textures/Victoria/Cosm_machine/cosm_machine.rsi/acum.png
  Resources/Textures/Victoria/Cosm_machine/cosm_machine.rsi/acum_base.png
  Resources/Textures/Victoria/Cosm_machine/cosm_machine.rsi/base.png
  Resources/Textures/Victoria/Cosm_machine/cosm_machine.rsi/beacon.png
  Resources/Textures/Victoria/Cosm_machine/cosm_machine.rsi/beacon_base.png
  Resources/Textures/Victoria/Cosm_machine/cosm_machine.rsi/bs.png
  Resources/Textures/Victoria/Cosm_machine/cosm_machine.rsi/meta.json
  Resources/Textures/Victoria/Cosm_machine/cosm_machine.rsi/rs.png
  Resources/Textures/Victoria/Cosm_machine/cosm_machine.rsi/scanner.png
  Resources/Textures/Victoria/Cosm_machine/cosm_machine.rsi/scanner_base.png
  Resources/Textures/Victoria/Cosm_machine/cosm_machine.rsi/smes-oc0.png
  Resources/Textures/Victoria/Cosm_machine/cosm_machine.rsi/smes-oc1.png
  Resources/Textures/Victoria/Cosm_machine/cosm_machine.rsi/smes-oc2.png
  Resources/Textures/Victoria/Cosm_machine/cosm_machine.rsi/smes-og1.png
  Resources/Textures/Victoria/Cosm_machine/cosm_machine.rsi/smes-og2.png
  Resources/Textures/Victoria/Cosm_machine/cosm_machine.rsi/smes-og3.png
  Resources/Textures/Victoria/Cosm_machine/cosm_machine.rsi/smes-og4.png
  Resources/Textures/Victoria/Cosm_machine/cosm_machine.rsi/smes-og5.png
  Resources/Textures/Victoria/Cosm_machine/cosm_machine.rsi/smes-op0.png
  Resources/Textures/Victoria/Cosm_machine/cosm_machine.rsi/smes-op1.png
  Resources/Textures/Victoria/Cosm_machine/cosm_machine.rsi/smes-op2.png
  Resources/Textures/Victoria/Objects/Misc/books.rsi/book_CosmMachine.png
  Resources/Textures/Victoria/Objects/Misc/books.rsi/meta.json
  runclient.bat
  runserver.bat
Labels: Changes: Sprites, Changes: Localization, Changes: No C#, size/XL

#2 kmlg
  Resources/Locale/ru-RU/victoria/other.ftl
  Resources/Locale/ru-RU/victoria/viteztvi.ftl
  Resources/Maps/Dungeon/experiment.yml
  Resources/Maps/Dungeon/haunted.yml
  Resources/Maps/Dungeon/lava_brig.yml
  Resources/Maps/Dungeon/mineshaft.yml
  Resources/Maps/Dungeon/snowy_labs.yml
  Resources/Maps/Dungeon/vgroidinterior.yml
  Resources/Maps/Shuttles/ShuttleEvent/kmlg_shuttle_lost.yml
  Resources/Maps/Shuttles/trading_outpost.yml
  Resources/Prototypes/Catalog/Cargo/cargo_emergency.yml
  Resources/Prototypes/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Catalog/Cargo/cargo_shuttle.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
  Resources/Prototypes/GameRules/cargo_gifts.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/Victoria/Corp_shop.yml
  Resources/Prototypes/Victoria/KMLG/kmlg_shuttles.yml
  Resources/Prototypes/Victoria/Special_crystals/Special_crystals.yml
  Resources/Prototypes/Victoria/Viteztvi/ai_vitz.yml
  Resources/Textures/Victoria/Corp_chips/chips.rsi/gd_chip.png
  Resources/Textures/Victoria/Corp_chips/chips.rsi/gf_chip.png
  Resources/Textures/Victoria/Corp_chips/chips.rsi/inhand-left.png
  Resources/Textures/Victoria/Corp_chips/chips.rsi/inhand-right.png
  Resources/Textures/Victoria/Corp_chips/chips.rsi/kmlg_chip.png
  Resources/Textures/Victoria/Corp_chips/chips.rsi/meta.json
  Resources/Textures/Victoria/Corp_chips/chips.rsi/ne_chip.png
  Resources/Textures/Victoria/Corp_chips/chips.rsi/nt_chip.png
  Resources/Textures/Victoria/Corp_chips/chips.rsi/sb_chip.png
  Resources/Textures/Victoria/Corp_chips/chips.rsi/vitz_chip.png
Labels: Changes: Sprites, Changes: Localization, Changes: No C#, size/XL, Changes: Map

#4 Исправление опечаток
  Resources/Prototypes/Victoria/Corp_shop.yml
  Resources/Prototypes/Victoria/Electron/ComponentsCircuitBord.yml
  Resources/Prototypes/Victoria/Electron/RawCircuitBord.yml
  Resources/Prototypes/Victoria/Electron/RawMatElectronics.yml
  Resources/Prototypes/Victoria/KMLG/ai_kmlg.yml
  Resources/Prototypes/Victoria/Kosm_machine/acum.yml
  Resources/Prototypes/Victoria/Kosm_machine/bs_beacon.yml
  Resources/Prototypes/Victoria/Kosm_machine/rs_scanner.yml
  Resources/Prototypes/Victoria/LearnBook/LearnBooks.yml
  Resources/Prototypes/Victoria/Plumbum/plumbum.yml
  Resources/Prototypes/Victoria/Special_crystals/Special_crystals.yml
  Resources/Prototypes/Victoria/Stamps.yml
  Resources/Prototypes/Victoria/Teach/teach.yml
  Resources/Prototypes/Victoria/Toxi/Toxi.yml
  Resources/Prototypes/Victoria/Toxi/Toxi_enemy.yml
  Resources/Prototypes/Victoria/npcFaction.yml
Labels: S: Untriaged, Changes: No C#, size/L

#6 fix
  Resources/Maps/Shuttles/ShuttleEvent/kmlg_shuttle_lost.yml
  Resources/Maps/avanpost11_station.yml
Labels: Changes: No C#, Changes: Map

#8 Бобры
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/Mobs/Animals/beaver.rsi/beaver.png
  Resources/Textures/Mobs/Animals/beaver.rsi/dead.png
  Resources/Textures/Mobs/Animals/beaver.rsi/meta.json
Labels: S: Untriaged, Changes: Sprites, Changes: Localization, Changes: No C#, size/M

#9 dozer
  Resources/Prototypes/Victoria/Bomb.yml
  Resources/Prototypes/Victoria/Noocraty/nooc.yml
  Resources/Prototypes/Victoria/Noocraty/nooc_shuttles.yml
  Resources/Textures/Victoria/Noocraty/Armor/nooc_hardsuits_dozer.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Victoria/Noocraty/Armor/nooc_hardsuits_dozer.rsi/icon.png
  Resources/Textures/Victoria/Noocraty/Armor/nooc_hardsuits_dozer.rsi/inhand-left.png
  Resources/Textures/Victoria/Noocraty/Armor/nooc_hardsuits_dozer.rsi/inhand-right.png
  Resources/Textures/Victoria/Noocraty/Armor/nooc_hardsuits_dozer.rsi/meta.json
  Resources/Textures/Victoria/Noocraty/Armor/nooc_hardsuits_helmet_dozer.rsi/icon-flash.png
  Resources/Textures/Victoria/Noocraty/Armor/nooc_hardsuits_helmet_dozer.rsi/icon.png
  Resources/Textures/Victoria/Noocraty/Armor/nooc_hardsuits_helmet_dozer.rsi/meta.json
  Resources/Textures/Victoria/Noocraty/Armor/nooc_hardsuits_helmet_dozer.rsi/off-equipped-HELMET.png
  Resources/Textures/Victoria/Noocraty/Armor/nooc_hardsuits_helmet_dozer.rsi/off-inhand-left.png
  Resources/Textures/Victoria/Noocraty/Armor/nooc_hardsuits_helmet_dozer.rsi/off-inhand-right.png
  Resources/Textures/Victoria/Noocraty/Armor/nooc_hardsuits_helmet_dozer.rsi/on-equipped-HELMET.png
  Resources/Textures/Victoria/Noocraty/Armor/nooc_hardsuits_helmet_dozer.rsi/on-inhand-left.png
  Resources/Textures/Victoria/Noocraty/Armor/nooc_hardsuits_helmet_dozer.rsi/on-inhand-right.png
  Resources/Textures/Victoria/Noocraty/Equipment/nooc_shields.rsi/meta.json
  Resources/Textures/Victoria/Noocraty/Equipment/nooc_shields.rsi/metal-icon.png
  Resources/Textures/Victoria/Noocraty/Equipment/nooc_shields.rsi/metal-inhand-left.png
  Resources/Textures/Victoria/Noocraty/Equipment/nooc_shields.rsi/metal-inhand-right.png
Labels: S: Untriaged, Changes: Sprites, Changes: No C#

#12 pda
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: S: Untriaged, size/XS

#14 overlord
  Resources/Locale/ru-RU/victoria/speaking_bots.ftl
  Resources/Prototypes/Victoria/Noocraty/ai_nooc.yml
  Resources/Prototypes/Victoria/Noocraty/nooc.yml
  Resources/Prototypes/Victoria/Noocraty/nooc_overlord.yml
  Resources/Prototypes/Victoria/Umpor/ai_umpor.yml
  Resources/Prototypes/Victoria/Umpor/umpor.yml
  Resources/Prototypes/Victoria/Umpor/umpor_overlord.yml
  Resources/Textures/Victoria/Noocraty/nooc_actions_nooc_ofi.rsi/NoocArmySold.png
  Resources/Textures/Victoria/Noocraty/nooc_actions_nooc_ofi.rsi/attack.png
  Resources/Textures/Victoria/Noocraty/nooc_actions_nooc_ofi.rsi/attackOff.png
  Resources/Textures/Victoria/Noocraty/nooc_actions_nooc_ofi.rsi/follow.png
  Resources/Textures/Victoria/Noocraty/nooc_actions_nooc_ofi.rsi/followOff.png
  Resources/Textures/Victoria/Noocraty/nooc_actions_nooc_ofi.rsi/loose.png
  Resources/Textures/Victoria/Noocraty/nooc_actions_nooc_ofi.rsi/looseOff.png
  Resources/Textures/Victoria/Noocraty/nooc_actions_nooc_ofi.rsi/meta.json
  Resources/Textures/Victoria/Noocraty/nooc_actions_nooc_ofi.rsi/stay.png
  Resources/Textures/Victoria/Noocraty/nooc_actions_nooc_ofi.rsi/stayOff.png
  Resources/Textures/Victoria/Umpor/umpor_actions_ump_ofi.rsi/UmporArmyEng.png
  Resources/Textures/Victoria/Umpor/umpor_actions_ump_ofi.rsi/UmporArmyMed.png
  Resources/Textures/Victoria/Umpor/umpor_actions_ump_ofi.rsi/UmporArmySold.png
  Resources/Textures/Victoria/Umpor/umpor_actions_ump_ofi.rsi/attack.png
  Resources/Textures/Victoria/Umpor/umpor_actions_ump_ofi.rsi/attackOff.png
  Resources/Textures/Victoria/Umpor/umpor_actions_ump_ofi.rsi/follow.png
  Resources/Textures/Victoria/Umpor/umpor_actions_ump_ofi.rsi/followOff.png
  Resources/Textures/Victoria/Umpor/umpor_actions_ump_ofi.rsi/loose.png
  Resources/Textures/Victoria/Umpor/umpor_actions_ump_ofi.rsi/looseOff.png
  Resources/Textures/Victoria/Umpor/umpor_actions_ump_ofi.rsi/meta.json
  Resources/Textures/Victoria/Umpor/umpor_actions_ump_ofi.rsi/stay.png
  Resources/Textures/Victoria/Umpor/umpor_actions_ump_ofi.rsi/stayOff.png
Labels: S: Untriaged, Changes: Sprites, Changes: Localization, Changes: No C#, size/XL

#15 Penguin
  Resources/Locale/ru-RU/victoria/space-penguin.ftl
  Resources/Prototypes/Victoria/Space-penguins/SpacePenguins.yml
  Resources/Textures/Victoria/Space-Penguin/space-penguin.rsi/dead.png
  Resources/Textures/Victoria/Space-Penguin/space-penguin.rsi/inhand-left.png
  Resources/Textures/Victoria/Space-Penguin/space-penguin.rsi/inhand-right.png
  Resources/Textures/Victoria/Space-Penguin/space-penguin.rsi/meta.json
  Resources/Textures/Victoria/Space-Penguin/space-penguin.rsi/penguin.png
Labels: Changes: Sprites, Changes: Localization, Changes: No C#, size/L

#16 Бутылка "Ничего" в лодаут бармена
  Resources/Locale/ru-RU/victoria/bartender-loadouts.ftl
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Victoria/Bartender-loadout-drinks/loadout.yml
Labels: S: Untriaged, Changes: Localization, Changes: No C#

#17 Бобёр 2.0
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/victoria/beaver.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Victoria/Beaver/beaver.yml
  Resources/Textures/Victoria/beaver-remade/beaver.rsi/beaver.png
  Resources/Textures/Victoria/beaver-remade/beaver.rsi/dead.png
  Resources/Textures/Victoria/beaver-remade/beaver.rsi/meta.json
Labels: S: Untriaged, Changes: Sprites, Changes: Localization, Changes: No C#, size/L

#18 Banners
  Resources/Locale/ru-RU/victoria/umpor.ftl
  Resources/Prototypes/Victoria/Noocraty/nooc.yml
  Resources/Prototypes/Victoria/Umpor/umpor.yml
  Resources/Prototypes/Victoria/Umpor/umpor_overlord.yml
  Resources/Textures/Victoria/Noocraty/nooc_banner.rsi/banner_nooc_std.png
  Resources/Textures/Victoria/Noocraty/nooc_banner.rsi/meta.json
  Resources/Textures/Victoria/Umpor/umpor_banner.rsi/banner_umpor_std.png
  Resources/Textures/Victoria/Umpor/umpor_banner.rsi/meta.json
Labels: S: Untriaged, Changes: Sprites, Changes: Localization, Changes: No C#, size/L
