Repository Crazzy-pingvin/Victoria, pull requests merged in 2025-06, with the labels that each got.

#42 SBborg
  Resources/Locale/ru-RU/victoria/other.ftl
  Resources/Prototypes/Victoria/Borgs/SB.yml
  Resources/Prototypes/Victoria/Borgs/SBB.yml
  Resources/Prototypes/Victoria/Borgs/sbmodules.yml
  Resources/Textures/Mobs/Silicon/chassis.rsi/defender.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/defender_e.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/defender_e_r.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/defender_l.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/meta.json
  Resources/Textures/Victoria/Borgs/module.rsi/base-icon-inhand-left.png
  Resources/Textures/Victoria/Borgs/module.rsi/base-icon-inhand-right.png
  Resources/Textures/Victoria/Borgs/module.rsi/base-module-inhand-left.png
  Resources/Textures/Victoria/Borgs/module.rsi/base-module-inhand-right.png
  Resources/Textures/Victoria/Borgs/module.rsi/base-part-inhand-left.png
  Resources/Textures/Victoria/Borgs/module.rsi/base-part-inhand-right.png
  Resources/Textures/Victoria/Borgs/module.rsi/base-stripes-inhand-left.png
  Resources/Textures/Victoria/Borgs/module.rsi/base-stripes-inhand-right.png
  Resources/Textures/Victoria/Borgs/module.rsi/disabler-module.png
  Resources/Textures/Victoria/Borgs/module.rsi/golo-module.png
  Resources/Textures/Victoria/Borgs/module.rsi/icon-disabler.png
  Resources/Textures/Victoria/Borgs/module.rsi/icon-golo.png
  Resources/Textures/Victoria/Borgs/module.rsi/icon-shield-week.png
  Resources/Textures/Victoria/Borgs/module.rsi/icon-shield.png
  Resources/Textures/Victoria/Borgs/module.rsi/meta.json
  Resources/Textures/Victoria/Borgs/module.rsi/security.png
  Resources/Textures/Victoria/Borgs/module.rsi/shield-module-week.png
  Resources/Textures/Victoria/Borgs/module.rsi/shield-module.png
Labels: Changes: Sprites, Changes: Localization, Changes: No C#, size/L

#44 Foodn
  Resources/ConfigPresets/Victoria/victoria.toml
  Resources/Locale/ru-RU/victoria/food_nian.ftl
  Resources/Prototypes/Body/Organs/moth.yml
  Resources/Prototypes/Corvax/Maps/delta.yml
  Resources/Prototypes/Corvax/Maps/paper.yml
  Resources/Prototypes/Corvax/Maps/silly.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Structures/Power/apc.yml
  Resources/Prototypes/Entities/Structures/Power/smes.yml
  Resources/Prototypes/Entities/Structures/Power/substation.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Victoria/Cloth/Cloth.yml
  Resources/Prototypes/Victoria/Cloth/Food_nian.yml
  Resources/Prototypes/Victoria/LearnBook/LearnBooks.yml
  Resources/Prototypes/Victoria/Maps/avanpost11.yml
  Resources/Prototypes/Victoria/Maps/claw.yml
  Resources/Prototypes/Victoria/Maps/cross.yml
  Resources/Prototypes/Victoria/Maps/palada.yml
  Resources/Prototypes/Victoria/SystemsFail.yml
  Resources/Textures/Victoria/food_nian.rsi/bread.png
  Resources/Textures/Victoria/food_nian.rsi/meat.png
  Resources/Textures/Victoria/food_nian.rsi/meta.json
  Resources/Textures/Victoria/food_nian.rsi/milk.png
  Resources/Textures/Victoria/food_nian.rsi/pasta.png
  Resources/Textures/Victoria/food_nian.rsi/plate.png
  Resources/Textures/Victoria/food_nian.rsi/soup.png
Labels: S: Untriaged, Changes: Sprites, Changes: Localization, Changes: No C#, Changes: Map, size/L

#45 Исправление ошибки с кремнеплазовой платой
  Resources/Prototypes/Victoria/Electron/RawCircuitBord.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#50 borgs-in-space
  Resources/Locale/ru-RU/victoria/SSSP-Petr-borgs.ftl
  Resources/Prototypes/Victoria/Borgs/ssspBORGs.yml
  Resources/Textures/Victoria/Borgs/petr_modules.rsi/combat-petr.png
  Resources/Textures/Victoria/Borgs/petr_modules.rsi/icon-combat.png
  Resources/Textures/Victoria/Borgs/petr_modules.rsi/icon-spy.png
  Resources/Textures/Victoria/Borgs/petr_modules.rsi/meta.json
  Resources/Textures/Victoria/Borgs/petr_modules.rsi/no-action-petr.png
  Resources/Textures/Victoria/Borgs/petr_modules.rsi/petr.png
  Resources/Textures/Victoria/Borgs/petr_modules.rsi/spy-petr.png
  Resources/Textures/Victoria/Borgs/petrborgs.rsi/meta.json
  Resources/Textures/Victoria/Borgs/petrborgs.rsi/petr_acad.png
  Resources/Textures/Victoria/Borgs/petrborgs.rsi/petr_acad_e.png
  Resources/Textures/Victoria/Borgs/petrborgs.rsi/petr_acad_e_r.png
  Resources/Textures/Victoria/Borgs/petrborgs.rsi/petr_acad_l.png
  Resources/Textures/Victoria/Borgs/petrborgs.rsi/petrborg.png
  Resources/Textures/Victoria/Borgs/petrborgs.rsi/petrborg_e.png
  Resources/Textures/Victoria/Borgs/petrborgs.rsi/petrborg_e_r.png
  Resources/Textures/Victoria/Borgs/petrborgs.rsi/petrborg_l.png
  Resources/Textures/Victoria/Borgs/texturesborgs.rsi/meta.json
  Resources/Textures/Victoria/Borgs/texturesborgs.rsi/sssp_acad.png
  Resources/Textures/Victoria/Borgs/texturesborgs.rsi/sssp_acad_e.png
  Resources/Textures/Victoria/Borgs/texturesborgs.rsi/sssp_acad_e_r.png
  Resources/Textures/Victoria/Borgs/texturesborgs.rsi/sssp_acad_l.png
  Resources/Textures/Victoria/Borgs/texturesborgs.rsi/ssspborg.png
  Resources/Textures/Victoria/Borgs/texturesborgs.rsi/ssspborg_e.png
  Resources/Textures/Victoria/Borgs/texturesborgs.rsi/ssspborg_e_r.png
  Resources/Textures/Victoria/Borgs/texturesborgs.rsi/ssspborg_l.png
Labels: S: Untriaged, Changes: Sprites, Changes: Localization, Changes: No C#, size/L

#49 Locale fix
  Resources/Locale/ru-RU/victoria/cdc.ftl
  Resources/Locale/ru-RU/victoria/emotes.ftl
  Resources/Locale/ru-RU/victoria/hound.ftl
  Resources/Locale/ru-RU/victoria/other.ftl
  Resources/Locale/ru-RU/victoria/speaking_bots.ftl
  Resources/Locale/ru-RU/victoria/station-goal/station-goal-component.ftl
  Resources/Locale/ru-RU/victoria/toxi.ftl
Labels: S: Untriaged, Changes: Localization, Changes: No C#, size/M

#53 fix
  Resources/Locale/ru-RU/victoria/other.ftl
  Resources/Maps/avanpost11_station.yml
  Resources/Maps/corvax_silly.yml
  Resources/Maps/omega.yml
  Resources/Maps/packed.yml
  Resources/Maps/victoria_palada_station.yml
  Resources/Maps/victoria_scc.yml
  Resources/Prototypes/Catalog/Bounties/bounties.yml
  Resources/Prototypes/Corvax/Maps/silly.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Victoria/Cloth/Cloth.yml
  Resources/Prototypes/Victoria/Cloth/Tailor.yml
  Resources/Prototypes/Victoria/Maps/avanpost11.yml
  Resources/Prototypes/Victoria/Maps/palada.yml
  Resources/Prototypes/Victoria/Other.yml
  Resources/Prototypes/Victoria/SystemsFail.yml
Labels: Changes: Localization, Changes: No C#, size/XL, Changes: Map

#54 Petr rule
  Content.Server/GameTicking/Rules/Components/PetrRuleComponent.cs
  Content.Server/GameTicking/Rules/PetrRuleSystem.cs
  Content.Server/Petr/Components/PetrOperativeComponent.cs
  Content.Server/Petr/Components/PetrTargetComponent.cs
  Content.Server/Roles/PetrRoleComponent.cs
  Resources/Locale/ru-RU/victoria/petr.ftl
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/Victoria/Petr/nuk_petr.yml
  Resources/Prototypes/Victoria/Teach/teach.yml
Labels: S: Untriaged, Changes: Sprites, Changes: Localization, Changes: Map, size/L

#57 only
  Resources/Locale/ru-RU/corvax/species/species.ftl
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Prototypes/Corvax/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cyberlibs.yml
Labels: S: Untriaged, Changes: Localization, Changes: No C#, size/M

#58 projectO
  Resources/Prototypes/Victoria/DefenseMode/DefenseMode.yml
  Resources/Prototypes/Victoria/npcFaction.yml
  Resources/Prototypes/ai_factions.yml
  Resources/Textures/Victoria/DefenseMode/banner_objective.rsi/banner_objective.png
  Resources/Textures/Victoria/DefenseMode/banner_objective.rsi/icon.png
  Resources/Textures/Victoria/DefenseMode/banner_objective.rsi/meta.json
Labels: S: Untriaged, Changes: Sprites, Changes: No C#
