Repository Crazzy-pingvin/Victoria, pull requests merged in 2025-08, with the labels that each got.

#74 new
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Victoria/Electron/ComponentsCircuitBord.yml
  Resources/Prototypes/Victoria/Maps/Pool/default.yml
  Resources/Prototypes/Victoria/Maps/lotos.yml
  Resources/Prototypes/Victoria/Sponsor/Jobs.yml
  Resources/Prototypes/Victoria/Sponsor/SponsorGroup.yml
  Resources/Prototypes/Victoria/Teach/teach.yml
Labels: S: Untriaged, Changes: No C#, size/L

#76 Project o
  Content.Client/Store/Ui/StoreListingControl.xaml.cs
  Content.Server/Defense/DefenseEnemyComponent.cs
  Content.Server/Defense/DefenseSettingsComponent.cs
  Content.Server/Defense/DefenseTargetComponent.cs
  Content.Server/GameTicking/Rules/Components/DefenseRuleComponent.cs
  Content.Server/GameTicking/Rules/DefenseRuleSystem.cs
  Content.Server/Journey/JourneySystem.cs
  Content.Server/NPC/Pathfinding/PathfindingSystem.cs
  Resources/Locale/ru-RU/victoria/defense-mode/different.ftl
  Resources/Maps/map_def_1.yml
  Resources/Prototypes/Entities/Objects/Decoration/mining.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/shuttle.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/base_structuretables.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
  Resources/Prototypes/Entities/Structures/Walls/fence_metal.yml
  Resources/Prototypes/Entities/Structures/Walls/fence_wood.yml
  Resources/Prototypes/Entities/Structures/Walls/girders.yml
  Resources/Prototypes/Entities/Structures/Walls/grille.yml
  Resources/Prototypes/Entities/Structures/Walls/railing.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
  Resources/Prototypes/Victoria/DefenseMode/DefenseMode.yml
  Resources/Prototypes/Victoria/DefenseMode/Structures.yml
  Resources/Prototypes/Victoria/DefenseMode/Xeno.yml
  Resources/Prototypes/Victoria/Maps/Pool/default.yml
  Resources/Prototypes/Victoria/Mirt/mirt.yml
  Resources/Prototypes/Victoria/Plumbum/plumbum.yml
Labels: Changes: Localization, Changes: Map, size/L, Changes: UI

#77 Фикс грамматики
  Resources/Locale/ru-RU/advertisements/vending/smite.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Prototypes/Victoria/Hound/Hound.yml
Labels: S: Untriaged, Changes: Localization, Changes: No C#, size/L

#84 bagfix
  Resources/Locale/ru-RU/victoria/defense-mode/different.ftl
  Resources/Maps/map_def_1.yml
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/Victoria/DefenseMode/Cargo.yml
  Resources/Prototypes/Victoria/DefenseMode/Crafts.yml
  Resources/Prototypes/Victoria/DefenseMode/DefenseMode.yml
  Resources/Prototypes/Victoria/DefenseMode/Equipment.yml
  Resources/Prototypes/Victoria/DefenseMode/Gears.yml
  Resources/Prototypes/secret_weights.yml
  Resources/Textures/Mobs/Aliens/Xenos/queen.rsi/crit.png
  Resources/Textures/Mobs/Aliens/Xenos/queen.rsi/dead.png
  Resources/Textures/Mobs/Aliens/Xenos/queen.rsi/running.png
  Resources/Textures/Mobs/Aliens/Xenos/queen.rsi/sleeping.png
  Resources/Textures/Victoria/DefenseMode/mirt_banner.rsi/icon.png
  Resources/Textures/Victoria/DefenseMode/mirt_banner.rsi/inhand-left.png
  Resources/Textures/Victoria/DefenseMode/mirt_banner.rsi/inhand-right.png
  Resources/Textures/Victoria/DefenseMode/mirt_banner.rsi/meta.json
  Resources/Textures/Victoria/DefenseMode/orders.rsi/focus.png
  Resources/Textures/Victoria/DefenseMode/orders.rsi/hold.png
  Resources/Textures/Victoria/DefenseMode/orders.rsi/meta.json
  Resources/Textures/Victoria/DefenseMode/orders.rsi/move.png
  Resources/Textures/Victoria/DefenseMode/umpor_banner.rsi/icon.png
  Resources/Textures/Victoria/DefenseMode/umpor_banner.rsi/inhand-left.png
  Resources/Textures/Victoria/DefenseMode/umpor_banner.rsi/inhand-right.png
  Resources/Textures/Victoria/DefenseMode/umpor_banner.rsi/meta.json
Labels: S: Untriaged, Changes: Sprites, Changes: Localization, Changes: No C#, Changes: Map, size/L

#87 ProjectO
  Resources/Maps/victoria_def_desert_platform.yml
  Resources/Maps/victoria_def_frozen_town.yml
  Resources/Prototypes/Victoria/CDC/cdc.yml
  Resources/Prototypes/Victoria/DefenseMode/Crafts.yml
  Resources/Prototypes/Victoria/DefenseMode/Equipment.yml
  Resources/Prototypes/Victoria/DefenseMode/Gears.yml
  Resources/Prototypes/Victoria/DefenseMode/Respawns.yml
  Resources/Prototypes/Victoria/DefenseMode/SpawnersObjectsFractions.yml
  Resources/Prototypes/Victoria/DefenseMode/Structures.yml
  Resources/Prototypes/Victoria/Mirt/mirt.yml
  Resources/Prototypes/Victoria/Snipe.yml
  Resources/Prototypes/Victoria/Umpor/umpor.yml
  Resources/Textures/Victoria/CDC/Equipment/cdc_coat.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Victoria/CDC/Equipment/cdc_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Victoria/CDC/Equipment/cdc_coat.rsi/icon.png
  Resources/Textures/Victoria/CDC/Equipment/cdc_coat.rsi/inhand-left.png
  Resources/Textures/Victoria/CDC/Equipment/cdc_coat.rsi/inhand-right.png
  Resources/Textures/Victoria/CDC/Equipment/cdc_coat.rsi/meta.json
  Resources/Textures/Victoria/CDC/Equipment/cdc_coat_hood.rsi/equipped-HELMET.png
  Resources/Textures/Victoria/CDC/Equipment/cdc_coat_hood.rsi/icon.png
  Resources/Textures/Victoria/CDC/Equipment/cdc_coat_hood.rsi/inhand-left.png
  Resources/Textures/Victoria/CDC/Equipment/cdc_coat_hood.rsi/inhand-right.png
  Resources/Textures/Victoria/CDC/Equipment/cdc_coat_hood.rsi/meta.json
  Resources/Textures/Victoria/Mirt/Equipment/mirt_coat.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Victoria/Mirt/Equipment/mirt_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Victoria/Mirt/Equipment/mirt_coat.rsi/icon.png
  Resources/Textures/Victoria/Mirt/Equipment/mirt_coat.rsi/inhand-left.png
  Resources/Textures/Victoria/Mirt/Equipment/mirt_coat.rsi/inhand-right.png
  Resources/Textures/Victoria/Mirt/Equipment/mirt_coat.rsi/meta.json
  Resources/Textures/Victoria/Mirt/Equipment/mirt_coat_hood.rsi/equipped-HELMET.png
  Resources/Textures/Victoria/Mirt/Equipment/mirt_coat_hood.rsi/icon.png
  Resources/Textures/Victoria/Mirt/Equipment/mirt_coat_hood.rsi/inhand-left.png
  Resources/Textures/Victoria/Mirt/Equipment/mirt_coat_hood.rsi/inhand-right.png
  Resources/Textures/Victoria/Mirt/Equipment/mirt_coat_hood.rsi/meta.json
  Resources/Textures/Victoria/Umpor/Equipment/umpor_coat.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Victoria/Umpor/Equipment/umpor_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Victoria/Umpor/Equipment/umpor_coat.rsi/icon.png
  Resources/Textures/Victoria/Umpor/Equipment/umpor_coat.rsi/inhand-left.png
  Resources/Textures/Victoria/Umpor/Equipment/umpor_coat.rsi/inhand-right.png
  Resources/Textures/Victoria/Umpor/Equipment/umpor_coat.rsi/meta.json
  Resources/Textures/Victoria/Umpor/Equipment/umpor_coat_hood.rsi/equipped-HELMET.png
  Resources/Textures/Victoria/Umpor/Equipment/umpor_coat_hood.rsi/icon.png
  Resources/Textures/Victoria/Umpor/Equipment/umpor_coat_hood.rsi/inhand-left.png
  Resources/Textures/Victoria/Umpor/Equipment/umpor_coat_hood.rsi/inhand-right.png
  Resources/Textures/Victoria/Umpor/Equipment/umpor_coat_hood.rsi/meta.json
Labels: S: Untriaged, Changes: Sprites, Changes: No C#, size/XL, Changes: Map

#90 ProjectO
  .github/workflows/labeler-pr.yml
Labels: S: Untriaged, Changes: No C#

#91 port
  Content.Shared/CCVar/CCVars.Shuttle.cs
Labels: S: Untriaged, size/XS

#92 Иконки
  Resources/Textures/Logo/icon-ru/icon-128x128.png
  Resources/Textures/Logo/icon-ru/icon-16x16.png
  Resources/Textures/Logo/icon-ru/icon-24x24.png
  Resources/Textures/Logo/icon-ru/icon-256x256.png
  Resources/Textures/Logo/icon-ru/icon-32x32.png
  Resources/Textures/Logo/icon-ru/icon-48x48.png
  Resources/Textures/Logo/icon-ru/icon-64x64.png
Labels: Changes: No C#, size/XS

#95 Def
  Resources/Maps/avanpost11_station.yml
  Resources/Maps/corvax_silly.yml
  Resources/Maps/omega.yml
  Resources/Maps/packed.yml
  Resources/Maps/victoria_brungild_station.yml
  Resources/Maps/victoria_def_desert_platform.yml
  Resources/Maps/victoria_def_frozen_town.yml
  Resources/Maps/victoria_lotos_station.yml
  Resources/Maps/victoria_palada_station.yml
  Resources/Prototypes/Victoria/Bomb.yml
  Resources/Prototypes/Victoria/DefenseMode/Xeno.yml
  Resources/Prototypes/Victoria/DefenseMode/XenoMap1_15.yml
  Resources/Prototypes/Victoria/DefenseMode/XenoMap1_15_Special.yml
  Resources/Prototypes/Victoria/DefenseMode/Xeno_Special.yml
  Resources/Textures/Victoria/Bomb/fence.rsi/meta.json
  Resources/Textures/Victoria/Bomb/fence.rsi/stumble-damaged.png
  Resources/Textures/Victoria/DefenseMode/Xenos/aphid.rsi/crit.png
  Resources/Textures/Victoria/DefenseMode/Xenos/aphid.rsi/dead.png
  Resources/Textures/Victoria/DefenseMode/Xenos/aphid.rsi/meta.json
  Resources/Textures/Victoria/DefenseMode/Xenos/aphid.rsi/running.png
  Resources/Textures/Victoria/DefenseMode/Xenos/aphid.rsi/sleeping.png
  Resources/Textures/Victoria/DefenseMode/Xenos/aphid.rsi/walking.png
  Resources/Textures/Victoria/DefenseMode/Xenos/saber.rsi/crit.png
  Resources/Textures/Victoria/DefenseMode/Xenos/saber.rsi/dead.png
  Resources/Textures/Victoria/DefenseMode/Xenos/saber.rsi/meta.json
  Resources/Textures/Victoria/DefenseMode/Xenos/saber.rsi/running.png
  Resources/Textures/Victoria/DefenseMode/Xenos/saber.rsi/sleeping.png
  Resources/Textures/Victoria/DefenseMode/Xenos/stiefmutter.rsi/crit.png
  Resources/Textures/Victoria/DefenseMode/Xenos/stiefmutter.rsi/dead.png
  Resources/Textures/Victoria/DefenseMode/Xenos/stiefmutter.rsi/meta.json
  Resources/Textures/Victoria/DefenseMode/Xenos/stiefmutter.rsi/running.png
  Resources/Textures/Victoria/DefenseMode/Xenos/stiefmutter.rsi/sleeping.png
Labels: S: Untriaged, Changes: Sprites, Changes: No C#, Changes: Map, size/L

#96 runner
  Resources/Prototypes/Victoria/CDC/cdc.yml
  Resources/Prototypes/Victoria/DefenseMode/Equipment.yml
  Resources/Prototypes/Victoria/Umpor/umpor.yml
  Resources/Textures/Victoria/CDC/Equipment/cdc_fast_boots.rsi/equipped-FEET-digi.png
  Resources/Textures/Victoria/CDC/Equipment/cdc_fast_boots.rsi/equipped-FEET.png
  Resources/Textures/Victoria/CDC/Equipment/cdc_fast_boots.rsi/icon.png
  Resources/Textures/Victoria/CDC/Equipment/cdc_fast_boots.rsi/inhand-left.png
  Resources/Textures/Victoria/CDC/Equipment/cdc_fast_boots.rsi/inhand-right.png
  Resources/Textures/Victoria/CDC/Equipment/cdc_fast_boots.rsi/meta.json
  Resources/Textures/Victoria/Umpor/Equipment/umpor_fast_boots.rsi/equipped-FEET-digi.png
  Resources/Textures/Victoria/Umpor/Equipment/umpor_fast_boots.rsi/equipped-FEET.png
  Resources/Textures/Victoria/Umpor/Equipment/umpor_fast_boots.rsi/icon.png
  Resources/Textures/Victoria/Umpor/Equipment/umpor_fast_boots.rsi/inhand-left.png
  Resources/Textures/Victoria/Umpor/Equipment/umpor_fast_boots.rsi/inhand-right.png
  Resources/Textures/Victoria/Umpor/Equipment/umpor_fast_boots.rsi/meta.json
Labels: S: Untriaged, Changes: Sprites, Changes: No C#, size/M

#93 Port "Fix displacements map for female vulp and reptilian"
  Resources/Prototypes/Corvax/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Textures/Corvax/Mobs/Species/displacement.rsi/jumpsuit-female.png
  Resources/Textures/Corvax/Mobs/Species/displacement.rsi/meta.json
Labels: S: Untriaged, Changes: Sprites, Changes: No C#, size/S

#97 Def
  Resources/Locale/ru-RU/victoria/other.ftl
  Resources/Maps/victoria_def_desert_platform.yml
  Resources/Prototypes/Entities/Effects/chemistry_effects.yml
  Resources/Prototypes/Victoria/CDC/cdc.yml
  Resources/Prototypes/Victoria/DefenseMode/Cargo.yml
  Resources/Prototypes/Victoria/DefenseMode/Crafts.yml
  Resources/Prototypes/Victoria/DefenseMode/Equipment.yml
  Resources/Prototypes/Victoria/DefenseMode/Gears.yml
  Resources/Prototypes/Victoria/Mirt/mirt.yml
  Resources/Prototypes/Victoria/Umpor/umpor.yml
  Resources/Textures/Victoria/CDC/Weapon/cdc_beaker.rsi/beakerlarge.png
  Resources/Textures/Victoria/CDC/Weapon/cdc_beaker.rsi/beakerlarge1.png
  Resources/Textures/Victoria/CDC/Weapon/cdc_beaker.rsi/beakerlarge2.png
  Resources/Textures/Victoria/CDC/Weapon/cdc_beaker.rsi/beakerlarge3.png
  Resources/Textures/Victoria/CDC/Weapon/cdc_beaker.rsi/beakerlarge4.png
  Resources/Textures/Victoria/CDC/Weapon/cdc_beaker.rsi/beakerlarge5.png
  Resources/Textures/Victoria/CDC/Weapon/cdc_beaker.rsi/beakerlarge6.png
  Resources/Textures/Victoria/CDC/Weapon/cdc_beaker.rsi/inhand-left-fill-1.png
  Resources/Textures/Victoria/CDC/Weapon/cdc_beaker.rsi/inhand-left-fill-2.png
  Resources/Textures/Victoria/CDC/Weapon/cdc_beaker.rsi/inhand-left-fill-3.png
  Resources/Textures/Victoria/CDC/Weapon/cdc_beaker.rsi/inhand-left-fill-4.png
  Resources/Textures/Victoria/CDC/Weapon/cdc_beaker.rsi/inhand-left.png
  Resources/Textures/Victoria/CDC/Weapon/cdc_beaker.rsi/inhand-right-fill-1.png
  Resources/Textures/Victoria/CDC/Weapon/cdc_beaker.rsi/inhand-right-fill-2.png
  Resources/Textures/Victoria/CDC/Weapon/cdc_beaker.rsi/inhand-right-fill-3.png
  Resources/Textures/Victoria/CDC/Weapon/cdc_beaker.rsi/inhand-right-fill-4.png
  Resources/Textures/Victoria/CDC/Weapon/cdc_beaker.rsi/inhand-right.png
  Resources/Textures/Victoria/CDC/Weapon/cdc_beaker.rsi/lid_beakerlarge.png
  Resources/Textures/Victoria/CDC/Weapon/cdc_beaker.rsi/meta.json
  Resources/Textures/Victoria/CDC/Weapon/cdc_thrower.rsi/base.png
  Resources/Textures/Victoria/CDC/Weapon/cdc_thrower.rsi/bolt-open.png
  Resources/Textures/Victoria/CDC/Weapon/cdc_thrower.rsi/equipped-BACKPACK.png
  Resources/Textures/Victoria/CDC/Weapon/cdc_thrower.rsi/icon.png
  Resources/Textures/Victoria/CDC/Weapon/cdc_thrower.rsi/inhand-left.png
  Resources/Textures/Victoria/CDC/Weapon/cdc_thrower.rsi/inhand-right.png
  Resources/Textures/Victoria/CDC/Weapon/cdc_thrower.rsi/mag-0.png
  Resources/Textures/Victoria/CDC/Weapon/cdc_thrower.rsi/meta.json
  Resources/Textures/Victoria/CDC/Weapon/cdc_thrower.rsi/wielded-inhand-left.png
  Resources/Textures/Victoria/CDC/Weapon/cdc_thrower.rsi/wielded-inhand-right.png
  Resources/Textures/Victoria/Umpor/Weapon/umpor_launcher.rsi/base.png
  Resources/Textures/Victoria/Umpor/Weapon/umpor_launcher.rsi/equipped-BACKPACK.png
  Resources/Textures/Victoria/Umpor/Weapon/umpor_launcher.rsi/inhand-left.png
  Resources/Textures/Victoria/Umpor/Weapon/umpor_launcher.rsi/inhand-right.png
  Resources/Textures/Victoria/Umpor/Weapon/umpor_launcher.rsi/mag-0.png
  Resources/Textures/Victoria/Umpor/Weapon/umpor_launcher.rsi/mag-1.png
  Resources/Textures/Victoria/Umpor/Weapon/umpor_launcher.rsi/meta.json
  Resources/Textures/Victoria/Umpor/Weapon/umpor_launcher.rsi/rocket0-inhand-left.png
  Resources/Textures/Victoria/Umpor/Weapon/umpor_launcher.rsi/rocket0-inhand-right.png
  Resources/Textures/Victoria/Umpor/Weapon/umpor_rockets.rsi/bullet.png
  Resources/Textures/Victoria/Umpor/Weapon/umpor_rockets.rsi/meta.json
  Resources/Textures/Victoria/Umpor/Weapon/umpor_rockets.rsi/o1.png
  Resources/Textures/Victoria/Umpor/Weapon/umpor_rockets.rsi/o2.png
  Resources/Textures/Victoria/Umpor/Weapon/umpor_rockets.rsi/o3.png
  Resources/Textures/Victoria/Umpor/Weapon/umpor_rockets.rsi/rocket.png
Labels: S: Untriaged, Changes: Sprites, Changes: Localization, Changes: No C#, Changes: Map, size/L
