Repository Crazzy-pingvin/Victoria, pull requests merged in 2025-05, with the labels that each got.

#29 Fix
  Resources/Audio/Lore/Gimn_Imperia_Mirtana.ogg
  Resources/Audio/Lore/Gimn_Imperii_Mirtana_metal.ogg
  Resources/Audio/Lore/Gimn_Nooc.ogg
  Resources/Audio/Lore/Gimn_OPZ.ogg
  Resources/Audio/Lore/Gimn_SNK_man.ogg
  Resources/Audio/Lore/Gimn_SNK_wom.ogg
  Resources/Audio/Lore/Gimn_USSP.ogg
  Resources/Audio/Lore/Gimn_Umpor.ogg
  Resources/Audio/Lore/Irinhol_star.ogg
  Resources/Audio/Lore/Petr_Chanson.ogg
  Resources/Audio/Lore/castom_epsilon.ogg
  Resources/Audio/Lore/emp_alarm.ogg
  Resources/Locale/ru-RU/victoria/other.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/Victoria/Bomb.yml
  Resources/Prototypes/Victoria/Electron/RawCircuitBord.yml
  Resources/Prototypes/Victoria/Electron/RawMatElectronics.yml
  Resources/Prototypes/Victoria/Hound/Hound_antag.yml
  Resources/Prototypes/Victoria/KMLG/kmlg.yml
  Resources/Prototypes/Victoria/Misc.yml
  Resources/Prototypes/Victoria/Noocraty/nooc.yml
  Resources/Prototypes/Victoria/Other.yml
  Resources/Prototypes/Victoria/Petr/nuk_petr.yml
  Resources/Prototypes/Victoria/Petr/petr.yml
  Resources/Prototypes/Victoria/SNK/snk.yml
  Resources/Prototypes/Victoria/Special_crystals/Special_crystals.yml
  Resources/Prototypes/Victoria/Umpor/umpor.yml
  Resources/Prototypes/Victoria/Viteztvi/viteztvi.yml
  Resources/Prototypes/Victoria/tank_reag.yml
  Resources/Textures/Victoria/cap_watch.rsi/equipped-HAND.png
  Resources/Textures/Victoria/cap_watch.rsi/inhand-left.png
  Resources/Textures/Victoria/cap_watch.rsi/inhand-right.png
  Resources/Textures/Victoria/cap_watch.rsi/meta.json
  Resources/Textures/Victoria/cap_watch.rsi/wristwatch.png
Labels: S: Untriaged, Changes: Sprites, Changes: Localization, Changes: No C#, size/L

#32 HoundUpdateSquashed
  Content.Server/Bruteforcer/BruteforcerComponent.cs
  Content.Server/Bruteforcer/BruteforcerSystem.cs
  Resources/Audio/Victoria/attributions.yml
  Resources/Audio/Victoria/bruteforce_sound.ogg
  Resources/ConfigPresets/Victoria/victoria.toml
  Resources/Prototypes/Victoria/Hound/Hound.yml
  Resources/Prototypes/Victoria/Hound/Hound_antag.yml
  Resources/Prototypes/Victoria/Noocraty/nooc.yml
  Resources/Textures/Victoria/Hound/Armor/hnd_helmet_eva.rsi/equipped-HELMET.png
  Resources/Textures/Victoria/Hound/Armor/hnd_helmet_eva.rsi/icon.png
  Resources/Textures/Victoria/Hound/Armor/hnd_helmet_eva.rsi/inhand-left.png
  Resources/Textures/Victoria/Hound/Armor/hnd_helmet_eva.rsi/inhand-right.png
  Resources/Textures/Victoria/Hound/Armor/hnd_helmet_light.rsi/equipped-HELMET.png
  Resources/Textures/Victoria/Hound/Armor/hnd_helmet_light.rsi/icon.png
  Resources/Textures/Victoria/Hound/Comm/hnd_encryption_key.rsi/crypt_gray.png
  Resources/Textures/Victoria/Hound/Equipment/hnd_bruteforcer.rsi/icon.png
  Resources/Textures/Victoria/Hound/Equipment/hnd_bruteforcer.rsi/meta.json
  Resources/Textures/Victoria/Hound/Equipment/hnd_cloak.rsi/equipped-NECK.png
  Resources/Textures/Victoria/Hound/Equipment/hnd_cloak.rsi/icon.png
  Resources/Textures/Victoria/Hound/Equipment/hnd_corpse_crate.rsi/base.png
  Resources/Textures/Victoria/Hound/Equipment/hnd_corpse_crate.rsi/closed.png
  Resources/Textures/Victoria/Hound/Equipment/hnd_corpse_crate.rsi/icon.png
  Resources/Textures/Victoria/Hound/Equipment/hnd_corpse_crate.rsi/meta.json
  Resources/Textures/Victoria/Hound/Equipment/hnd_corpse_crate.rsi/open.png
  Resources/Textures/Victoria/Hound/Equipment/hnd_corpse_crate.rsi/sparking.png
  Resources/Textures/Victoria/Hound/Equipment/hnd_corpse_crate.rsi/welded.png
  Resources/Textures/Victoria/Hound/Equipment/hnd_corpse_crate_unfolder.rsi/base.png
  Resources/Textures/Victoria/Hound/Equipment/hnd_corpse_crate_unfolder.rsi/meta.json
  Resources/Textures/Victoria/Hound/Misc/hnd_box.rsi/box.png
  Resources/Textures/Victoria/Hound/Misc/hnd_box.rsi/meta.json
  Resources/Textures/Victoria/Hound/Weapons/Ammunition/shotgun_magazine.rsi/base.png
  Resources/Textures/Victoria/Hound/Weapons/knife.rsi/equipped-BELT.png
  Resources/Textures/Victoria/Hound/Weapons/knife.rsi/icon.png
  Resources/Textures/Victoria/Hound/Weapons/knife.rsi/inhand-left.png
  Resources/Textures/Victoria/Hound/Weapons/knife.rsi/inhand-right.png
  Resources/Textures/Victoria/Hound/Weapons/knife.rsi/meta.json
  Resources/Textures/Victoria/Hound/Weapons/knife.rsi/storage.png
  Resources/Textures/Victoria/Hound/Weapons/machete.rsi/icon.png
  Resources/Textures/Victoria/Hound/Weapons/sniper_rifle.rsi/base.png
  Resources/Textures/Victoria/Hound/hnd_banner.rsi/banner_hnd_std.png
  Resources/Textures/Victoria/Hound/hnd_banner.rsi/meta.json
  Resources/Textures/Victoria/Noocraty/Borgs/snowdrop.rsi/meta.json
  Resources/Textures/Victoria/Noocraty/Borgs/snowdrop.rsi/robot.png
  Resources/Textures/Victoria/Noocraty/Borgs/snowdrop.rsi/robot_e.png
  Resources/Textures/Victoria/Noocraty/Borgs/snowdrop.rsi/robot_e_r.png
  Resources/Textures/Victoria/Noocraty/Borgs/snowdrop.rsi/robot_l.png
  Resources/Textures/Victoria/Noocraty/Borgs/snowdrop_smoke.rsi/icon.png
  Resources/Textures/Victoria/Noocraty/Borgs/snowdrop_smoke.rsi/meta.json
  Resources/Textures/Victoria/unused/metal_flower.png
  Resources/Textures/Victoria/unused/Новый текстовый документ.txt
Labels: S: Untriaged, Changes: Sprites

#26 Prototypes locale fix
  Resources/Prototypes/Victoria/Bomb.yml
  Resources/Prototypes/Victoria/Corp_shop.yml
  Resources/Prototypes/Victoria/Electron/RawCircuitBord.yml
  Resources/Prototypes/Victoria/Electron/RawMatElectronics.yml
  Resources/Prototypes/Victoria/Kosm_machine/acum.yml
  Resources/Prototypes/Victoria/Kosm_machine/rs_scanner.yml
  Resources/Prototypes/Victoria/LearnBook/LearnBooks.yml
  Resources/Prototypes/Victoria/Misc.yml
  Resources/Prototypes/Victoria/Other.yml
  Resources/Prototypes/Victoria/Petr/nuk_petr.yml
  Resources/Prototypes/Victoria/Stamps.yml
  Resources/Prototypes/Victoria/Teach/teach.yml
  Resources/Prototypes/Victoria/Toxi/Toxi_enemy.yml
Labels: S: Untriaged, Changes: No C#, size/L

#37 Отмена ограничения на изучение дисциплин
  Resources/Prototypes/Research/disciplines.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#39 Energy
  Resources/Locale/ru-RU/victoria/technologies.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Power/apc.yml
  Resources/Prototypes/Entities/Structures/Power/cables.yml
  Resources/Prototypes/Entities/Structures/Power/smes.yml
  Resources/Prototypes/Entities/Structures/Power/substation.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/APC.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Victoria/SystemsFail.yml
  Resources/Textures/Victoria/SystemsFail/fail_cable-coils.rsi/coilfail-10.png
  Resources/Textures/Victoria/SystemsFail/fail_cable-coils.rsi/coilfail-20.png
  Resources/Textures/Victoria/SystemsFail/fail_cable-coils.rsi/coilfail-30.png
  Resources/Textures/Victoria/SystemsFail/fail_cable-coils.rsi/coilfail-equipped-BELT.png
  Resources/Textures/Victoria/SystemsFail/fail_cable-coils.rsi/coilfail-inhand-left.png
  Resources/Textures/Victoria/SystemsFail/fail_cable-coils.rsi/coilfail-inhand-right.png
  Resources/Textures/Victoria/SystemsFail/fail_cable-coils.rsi/meta.json
  Resources/Textures/Victoria/SystemsFail/fail_module.rsi/capacitor_fail.png
  Resources/Textures/Victoria/SystemsFail/fail_module.rsi/meta.json
  Resources/Textures/Victoria/SystemsFail/fail_module.rsi/power_mod_fail.png
Labels: S: Untriaged, Changes: Sprites, Changes: Localization, Changes: No C#, size/L
