Repository Crazzy-pingvin/Victoria, pull requests merged in 2025-09, with the labels that each got.

#99 No more ghostrole for Defense xeno
  Resources/Prototypes/Victoria/DefenseMode/Xeno.yml
  Resources/Prototypes/Victoria/DefenseMode/Xeno_Special.yml
Labels: Changes: No C#, size/S

#102 Mech Gun
  Content.Client/Mech/Ui/Equipment/MechGunUi.cs
  Content.Client/Mech/Ui/Equipment/MechGunUiFragment.xaml
  Content.Client/Mech/Ui/Equipment/MechGunUiFragment.xaml.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.AmmoCounter.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Content.Shared/Mech/Equipment/Components/MechEquipmentComponent.cs
  Content.Shared/Mech/Equipment/Components/MechGunComponent.cs
  Content.Shared/Mech/Equipment/Systems/MechGunSystem.cs
  Content.Shared/Mech/MechUI.cs
  Content.Shared/Weapons/Ranged/Events/GetAmmoCountEvent.cs
  Content.Shared/Weapons/Ranged/Events/GetGunEvent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: S: Untriaged, Changes: UI

#105 USSP
  Resources/Maps/Ivents/shuttle_ussp.yml
  Resources/Maps/Ivents/steel_wall.yml
  Resources/Maps/Ivents/steel_wall_1.yml
  Resources/Prototypes/Victoria/DefenseMode/Technic.yml
  Resources/Prototypes/Victoria/DefenseMode/Xeno.yml
  Resources/Prototypes/Victoria/USSP/ussp.yml
Labels: S: Untriaged, Changes: No C#, size/XL, Changes: Map

#107 epsilon
  Resources/Audio/Victoria/epsilon_epsilon.ogg
  Resources/Audio/Victoria/epsilon_mirtan.ogg
Labels: S: Untriaged, Changes: No C#

#110 USSP
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/Victoria/DefenseMode/DefenseMode.yml
  Resources/Prototypes/Victoria/DefenseMode/Respawns.yml
  Resources/Prototypes/Victoria/DefenseMode/SpawnersObjectsFractions.yml
  Resources/Prototypes/Victoria/USSP/ussp.yml
Labels: S: Untriaged, Changes: No C#, size/S
