Repository Crazzy-pingvin/Victoria, pull requests merged in 2025-04, with the labels that each got.

#21 Fraction misprint fix
  Resources/Locale/ru-RU/victoria/kmlg.ftl
  Resources/Locale/ru-RU/victoria/mirt.ftl
  Resources/Locale/ru-RU/victoria/nooc.ftl
  Resources/Locale/ru-RU/victoria/petr.ftl
  Resources/Locale/ru-RU/victoria/snk.ftl
  Resources/Locale/ru-RU/victoria/umpor.ftl
  Resources/Locale/ru-RU/victoria/viteztvi.ftl
  Resources/Prototypes/Victoria/KMLG/kmlg.yml
  Resources/Prototypes/Victoria/Mirt/mirt.yml
  Resources/Prototypes/Victoria/Noocraty/nooc.yml
  Resources/Prototypes/Victoria/Petr/petr.yml
  Resources/Prototypes/Victoria/SNK/snk.yml
  Resources/Prototypes/Victoria/Umpor/umpor.yml
  Resources/Prototypes/Victoria/Viteztvi/viteztvi.yml
Labels: S: Untriaged, Changes: Localization, Changes: No C#, size/L

#23 Palada
  Resources/Maps/Shuttles/ShuttleEvent/visit_shattle_genetik.yml
  Resources/Maps/victoria_palada_station.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/Victoria/Maps/Pool/default.yml
  Resources/Prototypes/Victoria/Maps/palada.yml
  Resources/Prototypes/Victoria/Other.yml
Labels: S: Untriaged, Changes: No C#, size/XL, Changes: Map

#24 Chat
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/Radio/RadioChannelPrototype.cs
  Resources/Prototypes/Victoria/KMLG/kmlg.yml
  Resources/Prototypes/Victoria/Mirt/mirt.yml
  Resources/Prototypes/Victoria/Misc.yml
  Resources/Prototypes/Victoria/Noocraty/nooc.yml
  Resources/Prototypes/Victoria/Petr/petr.yml
  Resources/Prototypes/Victoria/SNK/snk.yml
  Resources/Prototypes/Victoria/Umpor/umpor.yml
  Resources/Prototypes/Victoria/Viteztvi/viteztvi.yml
  Resources/Prototypes/radio_channels.yml
  SpaceStation14.sln
Labels: S: Untriaged, size/M

#25 chat
  Content.Shared/Chat/SharedChatSystem.cs
Labels: S: Untriaged, size/XS
