Repository Crazzy-pingvin/Victoria, pull requests merged in 2025-07, with the labels that each got.

#59 Project o
  Content.Server/Journey/JourneyComponent.cs
  Content.Server/Journey/JourneySystem.cs
  Content.Server/Journey/JourneyTargetComponent.cs
  Resources/Prototypes/Victoria/DefenseMode/DefenseMode.yml
Labels: S: Untriaged, size/M

#60 Hound update2
  Content.Shared/Charges/Components/LimitedChargesComponent.cs
  Content.Shared/Charges/Systems/SharedChargesSystem.cs
  Resources/Locale/ru-RU/victoria/hound.ftl
  Resources/Prototypes/Entities/Objects/Tools/lantern.yml
  Resources/Prototypes/Victoria/Hound/Hound.yml
  Resources/Textures/Interface/Paper/paper_heading_hound_logo.svg.96dpi.png
  Resources/Textures/Interface/Paper/paper_heading_hound_logo.svg.96dpi.png.yml
  Resources/Textures/Interface/Paper/paper_heading_hound_logo.svg.96dpi.svg
  Resources/Textures/Objects/Misc/bureaucracy.rsi/hound_card.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Victoria/Hound/Airlocks/hnd_airlock_com.rsi/assembly.png
  Resources/Textures/Victoria/Hound/Airlocks/hnd_airlock_com.rsi/closed.png
  Resources/Textures/Victoria/Hound/Airlocks/hnd_airlock_com.rsi/closing.png
  Resources/Textures/Victoria/Hound/Airlocks/hnd_airlock_com.rsi/opening.png
  Resources/Textures/Victoria/Hound/Airlocks/hnd_airlock_worker.rsi/assembly.png
  Resources/Textures/Victoria/Hound/Airlocks/hnd_airlock_worker.rsi/closed.png
  Resources/Textures/Victoria/Hound/Airlocks/hnd_airlock_worker.rsi/closing.png
  Resources/Textures/Victoria/Hound/Airlocks/hnd_airlock_worker.rsi/opening.png
  Resources/Textures/Victoria/Hound/Armor/hnd_armor_heavy.rsi/inhand-left.png
  Resources/Textures/Victoria/Hound/Armor/hnd_armor_heavy.rsi/inhand-right.png
  Resources/Textures/Victoria/Hound/Equipment/hnd_durka_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Victoria/Hound/Equipment/hnd_durka_coat.rsi/icon.png
  Resources/Textures/Victoria/Hound/Equipment/hnd_durka_coat.rsi/inhand-left.png
  Resources/Textures/Victoria/Hound/Equipment/hnd_durka_coat.rsi/inhand-right.png
  Resources/Textures/Victoria/Hound/Equipment/hnd_durka_coat.rsi/meta.json
  Resources/Textures/Victoria/Hound/Equipment/hnd_durka_hat.rsi/equipped-HELMET.png
  Resources/Textures/Victoria/Hound/Equipment/hnd_durka_hat.rsi/icon.png
  Resources/Textures/Victoria/Hound/Equipment/hnd_durka_hat.rsi/meta.json
  Resources/Textures/Victoria/Hound/Weapons/hammer.rsi/icon.png
  Resources/Textures/Victoria/Hound/Weapons/hammer.rsi/inhand-left.png
  Resources/Textures/Victoria/Hound/Weapons/hammer.rsi/inhand-right.png
  Resources/Textures/Victoria/Hound/Weapons/hammer.rsi/meta.json
  Resources/Textures/Victoria/Hound/Weapons/hammer.rsi/wielded-inhand-left.png
  Resources/Textures/Victoria/Hound/Weapons/hammer.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, Changes: Localization, size/L

#68 - add: JobPrototype sponsor
  Content.Client/Lobby/LobbyUIController.cs
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Server/_Sponsor/AddSponsorCommand.cs
  Content.Shared/Roles/JobPrototype.cs
  Resources/Locale/ru-RU/_SponsorThink/profile-editor.ftl
  SponsorImplementations/readme.md
Labels: S: Untriaged, Changes: Localization

#67 Промышленные станки и продолжение массового перерисовывания предметов
  Content.Server/Lathe/Components/LatheIndustrialProducingComponent.cs
  Content.Server/Lathe/LatheSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Misc/machine_parts.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Parts.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/Victoria/Electron/ComponentsCircuitBord.yml
  Resources/Prototypes/Victoria/Electron/RawCircuitBord.yml
  Resources/Prototypes/Victoria/Electron/RawMatElectronics.yml
  Resources/Prototypes/Victoria/Kosm_machine/rs_scanner.yml
  Resources/Prototypes/Victoria/Misc.yml
  Resources/Prototypes/Victoria/Special_crystals/Special_crystals.yml
  Resources/Prototypes/Victoria/SystemsFail.yml
  Resources/Textures/Objects/Materials/Sheets/other.rsi/uranium.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/uranium_2.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/uranium_3.png
  Resources/Textures/Objects/Materials/materials.rsi/bananium.png
  Resources/Textures/Objects/Materials/materials.rsi/bananium_1.png
  Resources/Textures/Objects/Materials/materials.rsi/diamond.png
  Resources/Textures/Objects/Materials/materials.rsi/diamond_2.png
  Resources/Textures/Objects/Materials/materials.rsi/diamond_3.png
  Resources/Textures/Objects/Materials/ore.rsi/bananium.png
  Resources/Textures/Objects/Materials/ore.rsi/diamond.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/industrial_mani.png
  Resources/Textures/Structures/Machines/industrial_lithograph.rsi/building.png
  Resources/Textures/Structures/Machines/industrial_lithograph.rsi/icon.png
  Resources/Textures/Structures/Machines/industrial_lithograph.rsi/inserting.png
  Resources/Textures/Structures/Machines/industrial_lithograph.rsi/meta.json
  Resources/Textures/Structures/Machines/industrial_lithograph.rsi/panel.png
  Resources/Textures/Structures/Machines/industrial_lithograph.rsi/unlit-building.png
  Resources/Textures/Structures/Machines/industrial_lithograph.rsi/unlit.png
  Resources/Textures/Structures/Machines/industrial_vacuum_machine.rsi/building.png
  Resources/Textures/Structures/Machines/industrial_vacuum_machine.rsi/icon.png
  Resources/Textures/Structures/Machines/industrial_vacuum_machine.rsi/inserting.png
  Resources/Textures/Structures/Machines/industrial_vacuum_machine.rsi/meta.json
  Resources/Textures/Structures/Machines/industrial_vacuum_machine.rsi/panel.png
  Resources/Textures/Structures/Machines/industrial_vacuum_machine.rsi/unlit-building.png
  Resources/Textures/Structures/Machines/industrial_vacuum_machine.rsi/unlit.png
  Resources/Textures/Victoria/Electron/contact_crystal.rsi/copper.png
  Resources/Textures/Victoria/Electron/contact_crystal.rsi/copper_2.png
  Resources/Textures/Victoria/Electron/contact_crystal.rsi/copper_3.png
  Resources/Textures/Victoria/Electron/electronic_rock.rsi/aluminium.png
  Resources/Textures/Victoria/Electron/electronic_rock.rsi/cooper.png
  Resources/Textures/Victoria/Electron/ore_electronic.rsi/aluminium.png
  Resources/Textures/Victoria/Electron/ore_electronic.rsi/cooper.png
  Resources/Textures/Victoria/Electron/ore_electronic.rsi/plumbum.png
  Resources/Textures/Victoria/Electron/rawelectronics_mat.rsi/polymerpitch.png
  Resources/Textures/Victoria/Special_crystals/chrome_crystal.rsi/chrome_crystal.png
  Resources/Textures/Victoria/Special_crystals/module.rsi/bs_module.png
  Resources/Textures/Victoria/Special_crystals/module.rsi/cosm_core.png
  Resources/Textures/Victoria/Special_crystals/module.rsi/rs_module.png
  Resources/Textures/Victoria/Special_crystals/sap_crystal.rsi/sap_crystal.png
  Resources/Textures/Victoria/SystemsFail/fail_module.rsi/capacitor_fail.png
  Resources/Textures/Victoria/sandbags.rsi/sand.png
Labels: S: Untriaged, Changes: Sprites, size/L
